=provide(:title, 'About')
%h1 Acerca de
%div.center.texto_contenido
  %p.cita
    %strong "..Y a su partida, las puertas que no fueron cerradas en mucho tiempo, a ningun extranjero, se cerraron, dejando atras, la tenue esperanza del anhelo de regresar algun dia..."
  %br
  %p Este sitio ha sido creado para agrupar la informacion sobre el rol, las distintas fuentes de informacion que se puedan proporcionar en la red y programas que puedan ser de utilidad para las partidas

