@import "bootstrap";

/* mixins, variables, etc. */

$grayMediumLight: #acacac;

/* override */
.container{
  margin-left: 30px !important;
  max-width: 74%;
}


/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 10px;
  background-image: url('imagen.png');
  background-size: 100%;
  background-repeat: repeat-y;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
    h1 {
      margin-bottom: 10px;
    }
}

.left{
  text-align: left;
}

.texto_contenido{
  padding: 20px 40px;
  margin-bottom: 20px;
  background-color: whiteSmoke;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  .parrafo_contenido{
    text-align: left;
  }
  .imagen_contenido{
    position: relative;
    float: left; 
    margin-left: 10px;
    margin-right: 20px;
    img {
      max-width: 250px;  
    }
  }
  .imagen_contenido_derecha{
    position: relative;
    float: right; 
    margin-left: 10px;
    margin-right: 20px;
    img {
      max-width: 250px;  
    }
  }
  .imagen_contenido_centrada{
    margin-top: 10px;
    //margin-bottom: 10px;
    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

.titulo_contenido{
  text-align: left;
  margin-bottom: 0px;
}
.tipo_contenido{
  text-align: right;
  font-weight: bold;
  font-style: italic;
}
.creacion_contenido{
  color: green;
}

.cita{
  font-style: italic;
}

.fecha_creacion{
  color:green;
  margin-left:40px;
  float:right;
}

.imagen_interior_contenido{
  margin: 0 auto;
  width: 30%;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 20px;
  text-align: center;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $grayMediumLight;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
     &:hover {
      color: #fff;
      text-decoration: none;
     }
}


.header_general{
  padding-left: 0;
  padding-right: 0;
  border-radius: 0;	
}

.header_titulo{
  padding-left: 20px;
  padding-right: 20px;
  background-repeat: repeat-x;
  //border-radius: 4px;
  background-color: currentcolor;
  .imagen{
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 6px;
  }
  .menu_nav{
    max-width: 100%;
    margin: 10px 20px;
  }
  nav{
    float:right;
    margin: 0px 20px;
    width: 20%;
    background-color: whiteSmoke;
    border-radius: 10px;
  }
  ul{
    width:100%;
    list-style: none;
    margin: 0px;
  }
  li{
    background-color:#000000;
    margin-bottom: 5%;
    height: 25px;
    border-radius:3px;
    a{
      color:#fff;
    }
  }
  .logo_titulo{
    width: 70%;
  }

}

.header_menu{

}

/* modulos */
.modulo_derecha{
  position: relative;
  background-color: currentcolor;
  float: right;
  width:20%;
  margin-right: 20px;
  border-radius: 4px; 
  min-height:300px;
  .contenido_modulo_der{
    margin:20px;
    color:honeydew;
  }

}

.image_profile{
  max-width: 50px;
  display: inline-block;
  margin: 3px 5px 3px 3px;
  float:left;
}

.texto_profile{
  max-width: 200px;
  display: inline-block;
  margin-top: 5px;
  p{
    line-height: 1em;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: $grayMediumLight;
  margin-left: 50px;
  margin-right: 50px;
  
	a {
  	  color: #555;
	  &:hover { 
	     color: #222;
	  }
	}  

	small {
	  float: left;
	}

	ul {
	  float: right;
	  list-style: none;
	  li {
	    float: left;
	    margin-left: 10px;
	  }
	}
}

/* FORMULARIOS */
.titulo_formulario{
  width: 100%;
}
.contenido_formulario{
  width: 100%;
  height: 150px;
}


/* COMENTARIOS */

.comentario{
  background-color: black;
  padding: 5px;
  color: lightslategrey;

}

.titulo_comentario{
  width: 40%;
}
.contenido_comentario{
  width: 90%;
  height: 80px;
}

/* BOTONES */
button, input[type="button"], input[type="reset"], input[type="submit"] {
  padding: 6px;
  background-color: black;
  color: lightslategrey;
  border: 2px solid lightslategrey;
  border-radius: 6px; 
  &:hover {
    color: #fff;
    text-decoration: none;
  }
}



